<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project2</title> 
   
</head>

<body>

    <div class="project">
        <h2 class="title">To Do Lists</h2>
    <div class="todo">

        <div class="space">
            <input class="add-todo" type="Add To Do List"  placeholder="Enter to-do">
            <button class="add-list">Add</button>
        </div>
        
        <div>
            <table>
                <tbody id="tbody">
                    <td style="width: 49%;">Watch movie</td>
                    <td><button id="edit">Edit</button>
                        <button >Delete</button>
                        <button >Complete</button></td>
                </tbody>
            </table>
        </div>
    </div>
    </div>

</body>
</html>
